<p class="first">Залиште feedback</p>
<form id="feedback" action="{{uri_feedback}}" method="POST">
    <div class="wrapper table">
        <table class="data">
            <tr class="order row">
                <td class="name">Ім'я</td>
                <td class="value">
                    <input required id="name" name="name" type="text">
                </td>
            </tr>
            <tr class="order row">
                <td class="name">Email</td>
                <td class="value">
                    <input required id="email" name="email" type="email">
                </td>
            </tr>
            <tr class="order row">
                <td class="name">Відгук</td>
                <td class="value">
                    <textarea required id="comment" name="comment" rows="10" cols="50" maxlength="1000"></textarea>
                </td>
            </tr>
        </table>
        <div class="send-table">
            <input type="submit" value="Відправити відгук">
            <input type="reset" value="Очистити">
        </div>
    </div>
</form>