html {
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 20px 0 20px 0;
    background: rgb(147,206,222);
    background: -moz-linear-gradient(top, rgb(147,206,222) 0%, rgb(105, 174, 219) 41%, rgb(51, 142, 191) 100%);
    background: -webkit-linear-gradient(top, rgb(147,206,222) 0%, rgb(105, 174, 219) 41%, rgb(51, 142, 191) 100%);
    background: -o-linear-gradient(top, rgb(147,206,222) 0%, rgb(105, 174, 219) 41%, rgb(51, 142, 191) 100%);
    background: -ms-linear-gradient(top, rgb(147,206,222) 0%, rgb(105, 174, 219) 41%, rgb(51, 142, 191) 100%);
    background: linear-gradient(to bottom, rgb(147,206,222) 0%, rgb(105, 174, 219) 41%, rgb(51, 142, 191) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
    background-attachment: fixed;
}

#main {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #302f2f80, -5px -5px 10px #302f2f80;
    background-color: white;
}

#logo {
    float: left;
    height: 100%;
    width: 70%;
}

#logo > p {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: 30px;
    margin-top: 11px;
    margin-left: 15px;
}

#logo > p > a {
    color: #130659;
    transition: all 0.3s ease-in-out;
}

#logo > p > a:hover {

    color: #3010ff;
    text-shadow: 0 0 15px #e4a7ff;
}

#history {
    height: 100%;
    margin-left: 70%;
}

#history > span {
    position: relative;
    bottom: 12px;
    left: 45px;
    font-size: 12px;
}

#menu {
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 1px 2px #a7a7a7;
}

#menu > ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

#menu > ul > li {
    border-bottom: 1px solid #d9d9d9;
}

#menu > ul > li > a {
    padding: 8px 52px 8px 30px;
    display: block;
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
    color: #0f0d62;
}

#menu > ul > li > a::before {
    content: ' ';
    background-color: rgba(0,0,0,0);
    width: 5px;
    position: relative;
    left: -30px;
    height: 46px;
    display: block;
    float: left;
    top: -8px;
}

#menu > ul > li > a:hover::before {
    background-color: #292492;
}

#menu > ul > li > a:hover {
    background-color: #e5e5e5;
}

#content {
    height: 100%;
    margin-left: 30%;
    padding-left: 10px;
    padding-right: 15px;
}

#logo > a {
    margin-left: 10px;
}

#links {
    height: 40px;
    border-top: 5px solid #292492;
    box-shadow: 0 1px 2px #b9b9b9;
    text-align: center;
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: -webkit-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: -o-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: -ms-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: linear-gradient(to bottom, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0 );
}

#history > p {
    padding: 21px 10px 10px 10px;
    font-size: 18px;
    margin-bottom: 0;
}

#history > ul {
    padding: 0;
    margin-left: 15px;
    margin-top: 0;
    font-size: 12px;
}

#history > ul > li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#history > ul > li > a {
    color: #4a1d92;
}

#history > ul > li > a:hover{
    color: #170617;
}

#links > ul {
    padding: 0;
    margin: 10px 0 10px 0;
}

#links > ul > li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#links > ul > li > a {
    font-size: 1.04em;
    color: #292492;
}

#links > ul > li > a:hover{
    color: #040017;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

#wrapper {
    margin-top: 10px;
}

#info {
    height: 90px;
}

#footer {
    clear: both;
    border-radius: 0 0 5px 5px;
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: -webkit-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: -o-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: -ms-linear-gradient(top, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    background: linear-gradient(to bottom, rgb(252,252,252) 0%, rgb(227,227,227) 100%);
    border-top: 2px solid #343169;
    -webkit-box-shadow: inset 0 16px 14px -14px #181831;
    -moz-box-shadow: inset 0 16px 14px -14px #181831;
    box-shadow: inset 0 16px 14px -14px #181831;
    margin-top: 20px;
    padding: 10px;
}

#track {
    padding: 0 30px;
}

#footer > p {
    margin: 0;
    font-size: 13px;
    line-height: 35px;
    font-family: monospace;
}

.submit {
    padding: 0;
    cursor: pointer;
}

img.banner {
    width: 700px;
    margin: auto;
    display: block;
}

h1.info {
    padding-top: 12px;
    text-align: center;
    color: darkslateblue;
}

p.info {
    padding-left: 20px;
    padding-right: 20px;
}

p.first {
    font-size: 25px;
    padding-top: 10px;
    color: #000d56;
}

tr.row:hover {
    background-color: #ebebeb;
}

td.value , td.name {
    border-bottom: 1px dashed #565656;
    padding: 15px;
    text-align: left;
}

td.value {
    font-weight: bold;
}

table.data {
    border-collapse: separate;
    margin-left: 25px;
    margin-bottom: 35px;
    border: 1px solid #13134a;
    border-radius: 5px;
}

span.error {
    color: #bc0e0e;
    font-size: 16px;
    margin-left: 20px;
}

tr.calculate.row > td.value {
    font-weight: normal;
}

tr.calculate.row > td.value >input[type="number"] {
    width: 45px;
}

tr.calculate.row > td.value > label {
    margin-right: 7px;
    margin-left: 3px;
}

form#calculate > table {
    margin-bottom: 0;
    border-bottom: 0;
}

.send-table {
    margin-left: 25px;
    margin-bottom: 35px;
    border: 1px solid #13134a;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    width: 507px;
    height: 45px;
    background-color: #bcdcff;
    margin-top: -2px;
    box-shadow: inset 0 0 9px #4b428a80;
}

.send-table > input[type="submit"] {
    float: left;
    margin-left: 60px;
    margin-top: 8px;
}

.send-table > input[type="reset"] {
    float: right;
    margin-right: 60px;
    margin-top: 8px;
}

input[type="submit"], input[type="reset"] {
    cursor: pointer;
}

.rate {
    font-weight: bold;
    color: #02022a;
}

.info {
    margin-left: 10px;
    text-align: justify;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#estimate > table.data {
    margin-bottom: -3px;
}

#estimate > .send-table {
    width: 364px;
}

#estimate > .send-table > input[type="submit"] {
    margin-left: 20px;
}

#estimate > .send-table > input[type="reset"] {
    margin-right: 20px;
}

form#map {
    margin-left: 20px;
    margin-bottom: 25px;
}

#map > label {
    margin-right: 10px;
}

#map > input[type="submit"] {
    padding: 0;
    margin-left: 20px;
}

.map.row > .one-cell {
    text-align: center;
    padding: 15px;
}

.map.row > th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    background-color: #c4d5ff;
}

.map.row > th:last-child {
    border-right:none;
}

#map-data {
    margin-bottom: 20px;
    width: calc(100% - 43px);
    margin-left: 25px;
}

tr.map.row > td.value {
    padding: 10px;
    font-weight: normal;
    border-right: 1px solid black;
    font-size: 14px;
}

tr.map.row > td.value:last-child {
    border-right: none;
}