<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <title>{{title}}</title>
</head>
<body>
    <div id = "main">
        <div id = "header">
            <div id = "info">
                <div id = "logo">
                    <a href="/"><img src="/logo.jpg"></a>
                    <p><a href="/">Logistic company</a></p>
                </div>
                <div id = "history">
                    <p>Журнал квитанцій:</p>
                    <ul>
                        {{#history_receipt}}
                        <li><a href="{{uri_receipt}}?cargo_number={{num}}">{{num}}</a></li>
                        {{/history_receipt}}
                    </ul>
                    {{^history_receipt}}
                    <span>Ви ще нічого не шукали :(</span>
                    {{/history_receipt}}
                </div>
            </div>
            <div id = "links">
                <ul>
                    {{#pages_nav_bar}}
                    <li><a href="{{link}}">{{name}}</a></li>
                    {{/pages_nav_bar}}
                </ul>
            </div>
        </div>
        <div id = "wrapper">
            <div id = "menu">
                <form id="track" action="{{uri_receipt}}" method="GET">
                    <p>Відстежити вантаж</p>
                    <input placeholder="Номер квитанції" value="" name="cargo_number" id="cargo_number" type="text">
                    <input class="submit" name="" value="&#9205;" type="submit">
                    <div style="clear: both"></div>
                </form>
                <ul>
                    {{#pages_menu}}
                    <li><a href="{{link}}">{{name}}</a></li>
                    {{/pages_menu}}
                </ul>
            </div>
            <div id = "content">
                {{{content}}}
            </div>
            <div style="clear: both"></div>
        </div>
        <div id = "footer">
            <p>Web-framework (c++) 2019</p>
        </div>
    </div>
</body>
</html>
