<p class="first">Вхід</p>
<form id="order" action="/auth" method="POST">
    <div class="wrapper table">
        <table class="data">
            <tr class="order row">
                <td class="name">Email</td>
                <td class="value">
                    <input required id="login" name="login" type="email">
                </td>
            </tr>
            <tr class="order row">
                <td class="name">Пароль</td>
                <td class="value">
                    <input required id="password" name="password" type="password">
                </td>
            </tr>
        </table>
        <div class="send-table">
            <input type="submit" value="Вхід">
        </div>
    </div>
</form>